/* Home Section */
.home-section {
  background-image: url('../../assets/Home_.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.home-section .content {
  max-width: 600px;
  color: #2a302f;
}

.home-section .content .custom-hover {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.home-section .content .custom-hover:hover {
  background-color: lightblue;
  color: white;
  border-color: lightblue;
}



/* About Section */
.about-section {
  background-color: #0dcaf045;
}

.about-section .section-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
}

.about-section .section-subtitle {
  font-size: 1.2rem;
  color: #666;
  font-style: italic;
}

.about-section .section-text {
  font-size: 1.05rem;
  color: #444;
  line-height: 1.7;
}

.about-section .btn-outline-dark:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  transition: all 0.3s ease-in-out;
}


/* Service Section */
.service-card {
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.service-card:hover {
  background-color: #e0f4ff;
  transform: translateY(-4px);
}


/* Contact Section */
.contact-section {
  background-image: url('../../assets/contact.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.contact-section .container {
  position: relative;
  z-index: 1;
}

.contact-form input,
.contact-form textarea {
  /* background-color: #f9f9f9;
  border: 1px solid #ddd; */
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #000;
  box-shadow: none;
}

.contact-form .map-wrapper iframe {
  border: 0;
}

.contact-section .custom-hover:hover {
  background-color: lightblue;
  color: white;
  border-color: lightblue;
}